.container-about{
    width: 90%;
    margin: auto;
    height :1800px;
    background: rgba( 19, 1, 1, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
 
   padding-left: 30px;
   
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 2px;    
 
  }
  
  body::-webkit-scrollbar-track {
    background: black;       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: red;  
  }
  .about-me{
      padding-top: 40px;
      position: relative;
  }
  .abot{
      color: white;
      font-size: 30px;
  }
  .abot::after{
      content: "";
      width: 100px;
      height: 2px;
      background: red;
      margin-top: 10px;
     position:absolute;
     margin-left: 10px;
     bottom:14px;
  }
  .gambar{
      width:400px;
      height:400px;
      object-fit: contain;
  }
  .desc{
      display: flex;
      
      color: white;
      margin-top: 30px;
  }
.text{
    margin-left: 40px;
   
}
.text h1{
    color: red;
    font-weight:bold;
}
.text p {
    line-height:40px;
    font-size: 20px;
    letter-spacing:1px;
}
.skil{
    margin-top: 30px;
}
.skill{
    display: flex;
    margin-top: 40px;
    justify-content:space-evenly;
    width: 100%;
  
}
.inter{
    width: 100%;
    height: 300px;;
   
}
.container-inter{
    display: flex;
    margin-left: 35px;
    flex-wrap: wrap;
}
.speaker-container{
    margin-top: 50px;
    display: flex;
width: 21%;
margin : 30px 20px;
height: 60px;
justify-content:flex-start;
text-align: center;
align-items: center;
    background: rgba( 23, 22, 22, 0.4 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
color: white;
}
.speaker-icon{
    padding: 0 20px;
}
.interest{
    width: 100%;
    height:100px;
}
.container-interest{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;

}
.interest-icon-text{
    margin-top: 50px;
    display: flex;
width: 20.5%;
margin : 30px 20px;
height: 60px;
justify-content:flex-start;
text-align: center;
align-items: center;
    background: rgba( 23, 22, 22, 0.4 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
color: white;
}
.icon-interest{
    padding: 0 20px;
}
/*buat semua menjadi responsive*/
@media screen and (max-width: 600px){
    .container-about{
        width: 100%;
        height:3000px;
        padding-left: 0;
    }
    .desc{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .image{
       
        width: 100%;
      
    }
    .gambar{
        width:90%;
        height:100%;
        display:block;
        margin: 0 auto;
    }
    .text{
        margin-top: 50px;
        width: 90%;
        margin-left: 15px;
        padding-left: 0;
       
    }
    .text h1{
       
        font-size: 30px;
    }
    .text p{
        font-size: 18px;
        line-height: 39px;
        padding-top: 20px;
        padding-left: 0px;
    }
    .skill{
        display: flex;
        flex-direction: column;
        width:90%;
    }
   
    .inter{
        width: 100%;
        margin: auto;
        height: 300px;
        padding-left: 0;       
    }
    .container-inter{
        display: flex;
         
        flex-direction: column;
        align-items: center
    
    }
    .speaker-container{
        width: 100%;

         margin-top: 0px;
        margin-left: -15px;
        padding-left: 0;
    }
    .abot{
        font-size: 25px;
        padding-left: 0;
    }
    .about-me{
        margin-bottom: 30px;
        margin-left: 0px;
    }
    .interest{
      margin-top: 400px;
    }
    .container-interest{
        display: flex;
        flex-direction: column;
      
        width: 100%;
    }
    .interest-icon-text{
        width: 85%;
        margin-left: -10px;
        margin-top: 0
    }
}