
*{
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto Condensed', sans-serif;
}
.container-contact{
    width: 90%;
    margin: auto;
    height :98vh;
    background: rgba( 19, 1, 1, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
 
   padding-left: 30px;
   
}
html{
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 2px;    
 
  }
  
  body::-webkit-scrollbar-track {
    background: black;       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: red;  
  }
  .Hello{
        color: white;
        font-size: 15px;
        padding-top: 40px;
        position: relative;
  }
    .Hello h1::after{
            content: "";
            width: 100px;
            height: 2px;
            background: red;
            margin-top: 10px;
         position:absolute;
         margin-left: 10px;
         bottom:14px;

    }
    .contact-hi{
        font-size: 15px;
        margin-top: 20px;
        color: white
    }

.contact-form{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-top: 30px;
}
.contact-form input{
    width: 100%;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    /* buat inputan menjadi transparant*/
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    color: #fff;

}
.contact-form textarea{
    width: 100%;
    height: 100px;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    color: white;
    font-size: 15px;
}
.contact-form label{
    color: white;
    font-size: 15px;


}
.contact-form button{
    width: 100%;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.contact-form button:hover{
    background: red;
}
/* Buat contact-form menjadi responsive*/

    @media screen and (max-width: 600px){
        .contact-form{
            width: 100%;
            
        }
        .contact-form input{
            width: 100%;
        }
        .contact-form textarea{
            width: 100%;
        }
        .contact-form button{
            width: 100%;
        }
        
    }
    @media screen and (max-width: 400px){
        .contact-form{
            width: 100%;

        }
        .form-horizontal{
            width:100%;
            margin-right:20px;
        }
     .contact-form button{
        font-size: 15px;
     }   
     .contact-hi h1{
        font-size: 15px;
     }
     .Hello h1{
        font-size: 20zpx
     }
    }


